body {
    font-family: Microsoft JhengHei;
    letter-spacing: 2px;
}

.navbar {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.statusbar-overlay {
    background: #000000;
}

.start {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/start_bg.png');
    background-size: cover;
    z-index: 501;
    position: absolute;
}

.logo {
    position: relative;
    display: block;
    max-width: 40%;
    height: auto;
    margin: 0 auto;
    top: 29%;
}

.start_btn {
    width: 40vw;
    margin: 0 auto;
    top: 40%;
    position: relative;
}

.start_btn img {
    width: 100%;
    height: auto;
}

.planet {
    position: absolute;
}




/* Show clickable area fornt of planet.*/

.home a {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    /*background-color: rgba(0, 0, 0, .4);*/
}


.rocket_btn {
    position: absolute;
    z-index: 2;
    height: 50px;
    top: 20px;
    left: 20px;
}

div[data-page='collection'] {
    background-image: url('../img/collection_bg.png');
    background-size: cover;
}

.collection_container {
    position: absolute;
    margin: 0;
    height: 110%;
    width: auto;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.collections {
    position: relative;
    height: calc(100vh * 1.1 / 1378 * 1022 * 0.12 * 4 + 20px);
    width: calc(100vh * 1.1 / 1378 * 1022 * 0.12 * 4 + 20px);
    top: calc(100vh * 1.1 * 0.4533);
    left: calc(100vh * 1.1 / 1378 * 1022 * 0.251 - (100vh * 1.1 / 1378 * 1022 - 100vw) / 2);
}

.collections div {
    height: calc(100vh * 1.1 / 1378 * 1022 * 0.12);
    width: calc(100vh * 1.1 / 1378 * 1022 * 0.12);
    position: relative;
    display: inline-block;
    margin-right: 4px;
}

.collections div img {
    position: absolute;
    display: block;
    max-height: 80%;
    max-width: 70%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro_bg {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    /*display: none;*/
}

.ai_speech {
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 6px 23px 30px 23px;
    z-index: 4;
    background-image: url(../img/speech_bg/ai_speech_bg.png);
    background-size: 100% 100%;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: bold;
    display: none;
}

.man_speech {
    position: absolute;
    top: 45%;
    left: 40%;
    padding: 6px 23px 30px 23px;
    z-index: 4;
    background-image: url(../img/speech_bg/man_speech_bg.png);
    background-size: 100% 100%;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: bold;
    display: none;
}

.ai_speech2 {
    position: absolute;
    top: 20%;
    left: 18%;
    padding: 30px 27px 5px 27px;
    z-index: 4;
    background-image: url(../img/speech_bg/ai_speech_bg2.png);
    background-size: 100% 100%;
    font-size: 16px;
    letter-spacing: 1.1px;
    color: white;
    display: none;
}




/* kuanwen */

.subnavbar {
    padding: 0;
}

.subnavbar>.buttons-row {
    height: 100%;
    background: #010a38;
}

.buttons-row .button:last-child,
.buttons-row .button:first-child {
    border-radius: 0 !important;
}

.subnavbar .button {
    color: white !important;
    padding: 0 !important;
    font-size: 15px !important;
    height: 100%;
    line-height: 32px;
    background-image: url('../img/btn-background/tab-btn.png');
    background-size: 100% 100%;
}

.subnavbar>.buttons-row>.button {
    border: none !important;
    border-left: 0.1px solid black !important;
    border-right: 0.1px solid black !important;
}


.subnavbar .button.active {
    background-image: url('../img/btn-background/tab-active-btn.png');
    background-size: cover;
}

.tab {
    padding: 0 !important;
}

.tab>.content-block {
    margin: 0;
    color: white !important;
}

.note {
    font-size: 12px;
}

.custom-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
}





/* Modal Content (image) */

.custom-modal-content,
.challenge-modal-content {
    position: relative;
    left: 15%;
    top: 30%;
    width: 70%;
}

.challenge-modal-content {
    top: calc(45% - 25vw);
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes fadeOut {
    100% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 0;
    }

    0% {
        display: none;
        opacity: 0;
    }
}





/* Add Animation */

.custom-modal-content,
.challenge-modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}





/*  challenge  */

.level>p>span,
.reward>span {
    color: white;
    font-weight: bold;
}

.options {
    position: relative;
    top: 2vw;
    height: calc(100vh - 62vw);
    text-align: center;
}

.options>.button {
    height: 25%;
    line-height: calc((100vh - 62vw) / 4);
    color: black !important;
    font-size: 3.6vh;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px !important;

    background-image: url('../img/btn-background/normal-btn.png') !important;
    background-size: 100% 100% !important;
}

.level>p>span {
    display: inline-block !important;
    vertical-align: middle;
    font-size: 2.4vh;
}

.question {
    position: relative;
    top: 2vw;
    height: calc(50vw - 44px);
    margin: 0 auto;
    font-weight: bold;
    color: white;
    margin: 5vw;
}

.answer>svg {
    width: 6vh;
    display: inline-block;
    margin-top: calc((100vh - 62vw) / 12);
    position: absolute;
    right: 10px;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    stroke-width: 7.5;
}

.path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}

.path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
}

.path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: .2;
    }
}

.custom-start-modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-image: url('../img/device-background/result-background.png');
    background-size: cover;
    /* Black w/ opacity */
    /*
    -webkit-animation: fadeInFromNone 1s ease-out;
    -webkit-animation-delay: 8s; 
    */
    animation: fadeInFromNone 0.6s 6s ease-in-out;
}


#start-text {
    animation: head 2.5s 2s;
}

@keyframes head {
    0% {
        font-size: 9vw;
        opacity: 1;
    }
    40% {
        font-size: 0;
        opacity: 0;
    }
    /*60% {font-size:0; opacity:0;}*/
    100% {
        font-size: 9vw;
        opacity: 1;
    }
}

@keyframes head-half {
    0% {
        font-size: 0;
        opacity: 0;
    }
    100% {
        font-size: 9vw;
        opacity: 1;
    }
}

.custom-start-modal-content {
    width: 80%;
    position: absolute;
    left: 10%;
    color: white;
    text-align: center;
    font-size: 9vw;
    top: 46vh;
}


.loading span {
    animation-name: blink;
    animation-duration: 2.6s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.loading span:nth-child(2) {
    animation-delay: .2s;
}

.loading span:nth-child(3) {
    animation-delay: .4s;
}

.loading span:nth-child(4) {
    animation-delay: .6s;
}

.loading span:nth-child(5) {
    animation-delay: .8s;
}

.loading span:nth-child(6) {
    animation-delay: 1s;
}

.loading span:nth-child(7) {
    animation-delay: 1.2s;
}

.loading span:nth-child(8) {
    animation-delay: 1.4s;
}

.loading span:nth-child(9) {
    animation-delay: 1.6s;
}

.back_to_home {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    padding-left: 5px;
    z-index: 5;
}

.back_to_home span {
    padding-left: 10px;
    font-size: 16px;
}